# VSF
build/config.json
config/local*.json
config/custom-environment-variables.json
core/build/config.json
core/build/cache-version.json
var

# JS / Build
node_modules/
dist/
**/*.js.map
**/*.js

# Misc
.DS_Store
*.icloud
npm-debug.log
.idea/
desktop.ini
yarn-error.log
package-lock.json
cypress/videos
cypress/screenshots
*.iml

# Unit testing
/test/unit/coverage
/static
