// @todo move to separate file
$z-index: (
  overlay: 19,
  modal: 20,
  notification: 1000,
  loader: 1001
);

$color-primary: #611122;
$color-sale: #006EA1;
$color-alt1: #3D9FA5;
$color-alt2: #CE8F4B;
$color-alt3: #65BD82;
$color-basedarkest: #000000;
$color-basedark: #1E1E1E;
$color-basetone: #3E3E3E;
$color-baselight: #999999;
$color-baselighter: #C7C7C7;
$color-baselightest: #EDEDED;
$color-alert: #CC2823;
$color-facebook: #4267B2;
$color-twitter: #1DA1F2;
$color-youtube: #ff0000;
