@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url('../assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
      url('../assets/fonts/MaterialIcons-Regular.woff') format('woff'),
    ;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';

  /** These are the recommended sizes */
  &.mi-sm { font-size: 1.125rem; } /** 18px - .t-text-lg */
  &.mi-md { font-size: 1.5rem; } /** 24px - .t-text-2xl */
  &.mi-lg { font-size: 2.25rem; } /** 36px - .t-text-4xl */
  &.mi-xl { font-size: 3rem; } /** 48px - .t-text-5xl	 */
}
